
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

### project-specific assets (fill in your own assets) ###
/public/img/*
/public/Videos/*
/public/Videos/posters/*
/src/Controller/FootballController.php
