<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Video player</title>
    <style>
      body {
        background: black;
        text-align: center;
      }
      video {
        position: relative;
        top: 25%;
      }
      </style>
  </head>
  <body>
    <video controls autoplay name="media">
      <source src="{{ asset('Videos/' ~ id ~ '.mp4') }}" type="video/mp4">
    {% if iscc > 0 %}
      <track default kind="captions" src="{{ asset('Videos/' ~ id ~ '.vtt') }}">
    {% endif %}
    </video>
  </body>
</html>
